body {
    color: #333;
}

.header {
    background-color: #333;
    color: white;
    height: 50px;
}
.header .title {
    font-size: 20px;
    margin: 14px 20px 0 10px;
    display: inline-block;
}

.header-menu {
    display: inline-block;
    margin-left: 10px;
}

.header-menu a {
    display: inline-block;
    margin-left: 10px;
    color: white;
    font-size: 14px;
}

.content {
    padding: 20px;
}

.movie-tile {
    width: 250px;
    margin: 10px 10px 20px;
    float: left;
    position: relative;
}

.movie-tile .overlay {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8));
    width: 250px;
    height: 330px;
    position: absolute;
    top: 0px;
    z-index: 1;
}

.movie-tile img.poster {
    width: 100%;
    height: 330px;
}

.movie-tile img.fav-button {
    cursor: pointer;
    height: 30px;
    display: inline-block;
    margin-top: 5px;
    position: absolute;
    left: 15px;
    top: 280px;
    z-index: 2;
}

.movie-tile h4 {
    font-size: 18px;
    height: 27px;
    overflow: hidden;
    margin: 5px 0;
    clear: both;
    cursor: pointer;
    line-height: 1.3em;
}

.movie-tile h4 a {
    color: #444;
    text-decoration: none;
}

.movie-tile .language,
.movie-tile .meta-info {
    color: #999;
    font-size: 12px;
}

.movie-tile .language {
    height: 16px;
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filters {
    padding: 20px;
}

.movie-details {
    margin: 20px;
}

.movie-details .sidebar {
    float: left;
}

.movie-details .sidebar .rating-container {
    background-color: cornsilk;
    padding: 20px;
    margin-top: 20px;
}

.movie-details .sidebar h4 {
    margin: 10px 0 10px;
}

.movie-details .sidebar .ratings {
    list-style: none;
    padding: 0;
    margin: 10px 0 px;
    color: #803d00;
    line-height: 1.8em;
}

.movie-details .info {
    max-width: 500px;
    float: left;
    margin: 0 0 0 20px;
    color: #444;
    font-size: 14px;
    line-height: 1.3em;
}

.movie-details .info h1 {
    line-height: 1.3em;
}

.movie-details .info .meta {
    background-color: #efeeee;
    padding: 1px 20px;
}

.event-list {
    list-style: none;
    line-height: 1.3em;
    padding: 20px 0 0;
}

.event-list li {
    border-bottom: 1px solid #CCC;
    padding: 15px 0;
}

.event-list li p {
    margin: 0;
    line-height: 1.5em;
}

.event-list li .date {
    color: #AAA;
}

